body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: #33ff33;
}

.terminal {
    border: 2px solid green;
    padding: 10px;
    margin: 0 auto;
    width: 80%;
    height: 80vh;
    overflow-y: auto;
}

.input-line {
    display: flex;
}

#user-input {
    background: none;
    border: none;
    color: #33ff33;
    outline: none;
    width: 100%;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
